# Python
__pycache__/
*.pyc
*.pyo
.env
.venv/
venv/

# Data / runs
data/
datasets/
runs/
logs/
checkpoints/
models/
wandb/
tensorboard/

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store

# IDE
.vscode/
.idea/
